/* Template CSS */
.header-title {
	font-family: 'Proxima-Nova' sans-serif;
	font-weight: lighter;
	font-size: 1.5em;
	letter-spacing: 0.5px;
	align-self: center;

}

.search-options-header h2,
.search-details-header h2 {
	font-size: 1.5em;
}